<hr>
{{ todoStore.pagination.CurrentPage() }}
{{ todoStore.pagination.TotalCount() }}
{{ todoStore.pagination.PageSize() }}
<hr>

@for (item of todoStore.tasks(); track item.id) {
<div>
  <span>{{ item.title }}</span>
</div>
} @empty {
<div>There are no items.</div>
}


<button class="btn">Button</button>
<button class="btn btn-neutral">Neutral</button>
<button class="btn btn-primary">Primary</button>
<button class="btn btn-secondary">Secondary</button>
<button class="btn btn-accent">Accent</button>
<button class="btn btn-ghost">Ghost</button>
<button class="btn btn-link">Link</button>
