.todo-container {
  display: grid;
  grid-template-rows: auto minmax(auto, 1fr) auto;
}


.todo-list::-webkit-scrollbar {
  width: 0.2em;
}

.todo-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.todo-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
