<div class="flex flex-col items-center">
  <div class="join grid grid-cols-2">
    <button
      class="join-item btn btn-outline btn-sm"
      [disabled]="isPreviousPageDisabled()"
      (click)="previousPage()"
    >
      Previous
    </button>
    <button
      class="join-item btn btn-outline btn-sm"
      [disabled]="isNextPageDisabled()"
      (click)="nextPage()"
    >
      Next
    </button>
  </div>
  <div>
    Page {{ this.pagination().CurrentPage }} of
    {{ this.pagination().TotalPages }}
  </div>
</div>
