{
  "plugins": ["prettier-plugin-organize-attributes"],
  "attributeGroups": [
    "^(id|name)$",
    "^app",
    "^data-testid$",
    "^tabindex$",
    "^aria-",
    "^role$",
    "^type$",
    "^class$",
    "^ngClass$",
    "^\\[style",
    "^\\[attr",
    "^\\(blur\\)",
    "^\\(focus\\)",
    "^\\(click\\)",
    "^\\(dbclick\\)",
    "^\\(submit\\)",
    "^\\(cut\\)",
    "^\\(copy\\)",
    "^\\(paste\\)",
    "^\\(keyup\\)",
    "^\\(keypress\\)",
    "^\\(keydown\\)",
    "^\\(mouseup\\)",
    "^\\(mousedown\\)",
    "^\\(mouseenter\\)",
    "^\\(scroll\\)",
    "^\\(drag\\)",
    "^\\(drop\\)",
    "^\\(dragover\\)"
  ]
}
